<!DOCTYPE html>
<html>
  <head>
    <link href="/static/styles/bootstrapmin.min.css" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="/static/images/logo.png">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <img src="/static/images/logo.png" width="50px" height="50px">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/team">Team Pum</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Chat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block content %}{% endblock %} 

  </body>
</html>
